{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
    <h1 class="mt-4" style="text-align:center">Employee Data Management System</h1>
    <br>

    <h4 class="mt-4" style="text-align:center">Enter Employee Records Below</h4>


    {% with msg = get_flashed_messages() %}
    {% if msg %}
    {% for m in msg %}
    <div style=" text-align:center; padding: 10px; border-radius: 3px; font-size: 1rem; margin-bottom: 16px; border-width: 2px; border-style: solid;">
        {{ m }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div>
        <div class="container" style="width:1000px">

            <form action="" method="post">


                <div class="row">
                    <div class="col-25">
                        <label for="f_name">First Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="f_name" name="f_name" placeholder="Employee Name">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="l_name">Last Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="l_name" name="l_name" placeholder="Employee Last Name..">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="p_num">Phone No.</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="p_num" name="p_num" placeholder="Employee Phone Number">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label>Department</label>
                    </div>
                    <div class="col-75">
                        <div >
                            <input type="radio" id="sales" name="dep" value="Sales">
                            <label for="sales">Sales</label>

                            <input type="radio" id="Finance" name="dep" value="Finance">
                            <label for="Finance">Finance</label>

                            <input type="radio" id="cs" name="dep" value="C.S.">
                            <label for="cs">C.S.</label>

                            <input type="radio" id="pro" name="dep" value="Production">
                            <label for="pro">Production</label>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="des">Designation</label>
                    </div>
                    <div class="col-75">
                        <div >
                            <input type="radio" id="mngr" name="des" value="Manager">
                            <label for="mngr">Manager</label>

                            <input type="radio" id="wrkr" name="des" value="Worker">
                            <label for="wrkr">Worker</label>

                            <input type="radio" id="exec" name="des" value="Executive">
                            <label for="exec">Executive</label>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="sal">Salary</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="sal" name="sal" placeholder="Employee Salary">
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="m_id">Manager ID</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="m_id" name="m_id" placeholder="Employee Manager ID">
                    </div>
                </div>


                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

    </div>
</div>

<!-- /#page-content-wrapper -->

{% endblock  %}